<form action="<%= action %>" method="post" accept-charset="utf-8">
<table id="newheader">
	<thead>
		<tr>
			<th class="left"><label for="headername">Name</label></th>
			<th><label for="headercontent">Content</label></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="left" id="newheaderleft"><input type="text" value="" tabindex="7" name="header[name]" id="headernameinput"/></td>
			<td><textarea tabindex="8" cols="25" rows="2" name="header[content]" id="headercontent"></textarea></td>
		</tr>

		<tr>
			<td class="submit" colspan="2">
				<input type="submit" value="Add Header" tabindex="9" class="add:the-list:newmeta" name="addmeta" id="addmetasub"/>
				<input type="hidden" name="_method" value="put">
				<% if type == :layout -%>
				<input type="hidden" name="header[layout_id]" value="<%= obj_id %>">
				<% end -%>
			</td>
		</tr>
	</tbody>
</table>
</form>