/*****************************************************************************/
/*
/* Reset
/*
/*****************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {global.c...=20081210 (line 4)
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
}

body{
	font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
}

select {
	-x-system-font:none;
	background-color:#FFFFFF;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:1px;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:2em;
	line-height:20px;
	padding:2px;
	vertical-align:top;
}

option {
	padding:2px;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

#admin_menu {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	text-align: left; 
}

#admin_menu_buttons {
	border-bottom: 1px solid rgb(204, 204, 204);
	display: block;
	height: 35px;
}

#admin_menu a.button {
	background-color:#F5F5F5;
	border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
	border-style:solid;
	border-width:1px;
	color:#565656;
	cursor:pointer;
	display:block;
	float:left;
	font-size:100%;
	font-weight:bold;
	line-height:130%;
	margin:0 0.583em 0.667em 0;
	padding:5px 10px 5px 7px;
	text-decoration:none;
}

#admin_menu img {
	border: 0px;
	padding: 0 5px;
	vertical-align: middle;
}

#admin_menu_status {
	float: right;
	font-size: 80%;
	text-align: right;
}

.generated {
	color: green;
}

/*****************************************************************************/
/*
/* Main
/*
/*****************************************************************************/

#main {
	padding: 20px;
}

.hidden{
	display: none;
}

/*****************************************************************************/
/*
/* Headers form
/*
/*****************************************************************************/

#newheader {
	border-style:solid;
	line-height:1;
}

.submit input {
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	text-decoration: none;
	font-size: 11px !important;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
	width: auto;
	background-color: #DDD;
	border-color: #333;
}

#newheader table {
	border-color: #dfdfdf;
	background-color: #F9F9F9;
	margin: 0;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
}

#newheader th.left,
#newheader td.left {
	width: 38%;
}

#newheader thead th {
	background-color: #F1F1F1;
	padding: 5px 8px 8px;
}

#newheader table,
#newheader input,
#newheader textarea {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#newheader table input,
#newheader table select,
#newheader table textarea {
	width: 95%;
	margin: 8px 0 8px 8px;
}


#newheader table input,
#newheader table textarea {
	border-color: #dfdfdf;
	background-color: #fff;
}

#newheader .updatemeta,
#newheader .deletemeta {
	margin: auto;
}

#newheader .submit,
#postheader .submit {
	border: 0 none;
	float: none;
	padding: 5px 8px;
}

#newheader td.left input,
#postheader td.left input {
	margin: 3px 3px 0;
}

#newheader #the-list textarea,
#postheader #the-list textarea {
	height: 85px;
	margin: 3px;
}

#newheader #newmeta .submit {
	padding: 0 8px;
}

#newheader table #addmetasub {
	width: auto;
}

#newheader #newheaderleft {
	vertical-align: top;
}

#newheader #newheaderleft a {
	padding: 0 10px;
	text-decoration: none;
}

#save {
	width: 15em;
}