<form action="<%= url(:webbastic_widget, widget.id) %>" method="post" accept-charset="utf-8">

	<textarea name="widget[content]" rows="20" cols="100" class="wymeditor"></textarea>
	
	<input type="hidden" name="_method" value="put"/>
	<p><input type="submit" value="Update Content" class="wymupdate"></p>
</form>

<%= partial 'shared/media' %>

<script type="text/javascript">
$('.wymeditor').wymeditor({html: '<%= widget.safe_content %>'});
</script>