<form action="<%= url(:webbastic_widget, widget.id) %>" method="post" accept-charset="utf-8">

	<p><textarea name="widget[content]" rows="20" cols="100" class="editor"></textarea></p>	
	
	<input type="hidden" name="_method" value="put"/>
	<p><input type="submit" value="Update Content" class="wymupdate"></p>
</form>

<%= partial 'shared/media' %>

<script type="text/javascript">
jQuery('.editor').wymeditor({
html: '<%= widget.content %>'    
 });
</script>