<h1>Page controller, new action</h1>
 
<%= form_for(@page, :action => resource(:pages) ) do %>
 
  <p>
    <%= text_field :name, :label => "Name " %>
  </p>
 
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>
 
<%= link_to 'Back', resource(:pages) %>

