<%= partial 'headers/list', :webby_headers => @page.headers, :type => :layout %>

<h2>Content</h2>

<textarea rows="8" cols="40"><%= @page.content %></textarea>

<p>[<a href="<%= url(:edit_webbastic_site_page, @page.site, @page) %>">edit</a>]</p>