<ul class="jqueryFileTree" style="display: none;">
	<% @content[:folders].each do |folder| -%>
	<li class="directory collapsed"><a href="#" rel="folder/<%= folder.id %>/"><%= folder.name %></a></li>
	<%- end %>
	
	<% @content[:pages].each do |page| -%>
	<li class="file ext_txt"><a href="/sites/1/static_pages/<%= page.id %>/edit"><%= page.name %></a></li>
	<%- end  %>
</ul>