<form action="<%= url(:webbastic_site, @site) %>" method="post" accept-charset="utf-8">
	
	<p><label for="default_layout">Default Layout</label>
	<select name="default_layout" id="default_layout">
		<% @site.layouts.each do |layout| -%>
		<option value="<%= layout.id %>" <%=  "selected='selected'" if(layout.id == @site.default_layout.id) %>>
		<%= layout.name %>
		</option>
		<%- end %>
	</select>	
	</p>
	
	<input type="hidden" name="_method" value="put"/>
	<p><input type="submit" value="Update Configuration"></p>
</form>