<h1>Site controller, new action</h1>
 
<%= form :action => url(:webbastic_sites) do %>
 
  <p>
	<input class="text" type="text" name="site[name]" value=""/>
  </p>
 
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>
 
<%= link_to 'Back', resource(:sites) %>