<%= partial 'shared/headers', :webby_headers => @layout.headers, :type => :layout %>

<%= partial 'shared/headers/form', 
			:action => url(:webbastic_site_layout, @layout.site.id, @layout.id),
			:type => :layout,
			:obj_id => @layout.id %>
			
<h2>Content</h2>

<form action="<%= url(:webbastic_site_layout, @layout.site.id, @layout.id) %>" method="post" accept-charset="utf-8">
	<textarea name="layout[content]" rows="20" cols="100"><%= @layout.content %></textarea>
	<input type="hidden" name="_method" value="put"/>
	<p><input type="submit" value="Save &rarr;"></p>
</form>