<%= partial 'shared/headers', :webby_headers => @layout.headers, :type => :layout %>

<h2>Content</h2>

<textarea rows="8" cols="40"><%= @layout.content %></textarea>

<p>[<a href="<%= url(:edit_webbastic_site_layout, @layout.site, @layout) %>">edit</a>]</p>